.lb-outerContainer {
    height: 50vw !important;
    width: 50vw !important;
}

.lightbox .lb-image{
    height: 50vw !important;
    width: 50vw !important;
}
.lb-data .lb-details{
    margin: 2vw 0vw;
    width: 100%;
}
.lb-data .lb-caption{
    margin: 3vw 0vw;
    font-size: 2vw;
}
.page_intro{
    text-align: center;
    padding: 5vw;
    background-color:white;
    border-top: 0.75vw solid black;
    border-bottom: 0.75vw solid black;
}
.parallax{
    background-color: rgb(234, 234, 234);
}
h1 {
    color: black;
    border: none;
    margin: 0px;
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    font-weight: bold;
}
.gallery {
    display: grid;
    grid-template-columns: 90%;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
}
.gallery img{
    padding-bottom: 3vw;
}
.gallery img:focus {
    border: 1.5vw solid #c8102e;
}
figure {
    padding: 2vw;
    background-color: rgb(234, 234, 234);
    margin:2vw 2vw 0vw 2vw;
    display: block;
}
figure:focus {
    border: 1.5vw solid #c8102e;
}
figcaption {
    text-align: center;
    line-height: 4.5vw;
    font-size: 3.5vw;
}
h2 {
    display: block;
    font-size: 5vw;
    margin-block-start: 1em;
    margin-block-end: 1em;
    font-weight: bold;
    text-align: center;
}

p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    line-height: 5vw;
    font-size: 4vw;
    color: black;
}
@media screen and (min-width: 1000px) {
    .gallery{
        grid-template-columns: 45% 45%;
    }
    figure{
        height: 85%;
        margin: 10% 5%;
        border: 1vw solid black;
        border-radius: 2vw;
        background-color: white;
    }
    .parallax {
        background-image: url("AllRedGradient.jpg");
        min-height: 500px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .page_intro{
        background-color: white;
        border-top: 0.75vw solid black;
        border-bottom: 0.75vw solid black;
    }
    figure:hover, figure:focus {
        border: 1.5vw solid #c8102e;
    }
    h1 {
        font-size: 80px;
    }
    p {
        font-size: 32px;
        line-height: 50px;
    }
    h2{
        font-size: 50px;
    }
    figcaption{
        font-size: 24px;
        line-height: 40px;
    }
    figure:nth-child(1), figure:nth-child(2){
        margin: 10% 5% 10% 5%;
    }
    figure:nth-child(19), figure:nth-child(20){
        margin: 10% 5% 20% 5%;
    }

}

@media screen and (min-width: 1800px) {
    .gallery {
        grid-template-columns: 30% 30% 30%;
    }
    figure:nth-child(3){
        margin: 10% 5% 10% 5%;
    }
    figure{
        border: solid black 0.75vw;
    }

    figure:hover, figure:focus {
        border: 1vw solid #c8102e;
    }
    figure:nth-child(19){
        grid-column: 1/3;
        max-width:35%;
        grid-row: 7;
        margin: 5% 5% 7% 5%;
    }
    figure:nth-child(20){
        grid-column: 2/-1;
        grid-row: 7;
        max-width:35%;
        margin: 5% 5% 7% 5%;

    }

}