
body{
    background-color: black;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: antiquewhite;
}
.gallery img{
    height: 47%;
}
figure{ 
    box-sizing: border-box;
    padding: 2vw;
    background-color: white;
    padding: 3vw;
    width: 100%;
    margin: 4vw;
    height: 80%;
    }

    figure:nth-child(1) {
        margin: 8vw 4vw 4vw 4vw;
    }
    figure:nth-child(10){
        margin: 4vw 4vw 8vw 4vw;
    }

@media screen and (min-width: 1000px){
    figure{ 
        width: 45%;
        height: initial;
        margin: 2vw;
    }
    figure:nth-child(2),figure:nth-child(1) {
        margin: 4vw 2vw 2vw 2vw;
    }
    figure:nth-child(10), figure:nth-child(9) {
        margin: 2vw 2vw 4vw 2vw;
    }
}

@media screen and (min-width: 1500px){
    figure{ 
        width: 30%;
        margin: 1vw;
        padding: 1vw;
        }
    
    figure:nth-child(2),figure:nth-child(1),figure:nth-child(3) {
        margin: 2vw 1vw 1vw 1vw;
    }
    figure:nth-child(9){
        margin: 1vw;
    }
    figure:nth-child(10){
        margin: 1vw 1vw 2vw 1vw;
    }}
