.mySlides{
    height: 50vw;
    width: 80vw;
    margin: 3vw;
}
body{
    background-color: rgb(234, 234, 234);
}
.slide{
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
}
@media screen and (min-width: 1200px) {
    .mySlides{
        height: 30vw;
        width: 50vw;
    }
}


