.mySlides{
    height: 30vw;
    width: 50vw;
    margin: 3vw;
}
body{
    /* background-color: rgb(234, 234, 234); */
    background-color: green;
}
.slide{
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
}

h1 {
    color: black;
    border: none;
    margin: 0px;
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    font-weight: bold;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    line-height: 5vw;
    font-size: 4vw;
    color: black;
}
@media screen and (min-width: 800px){
    h1 {
      font-size: 60px;
    }
    p {
        font-size: 20px;
        line-height: 30px;
    }
    h2{
        font-size: 40px;
    }
    figcaption{
        font-size: 24px;
        line-height: 40px;
  }
}